.bg-portada{
    background-image: url(../assets/img/fondos/portada.png)
}

#ultimo-li{
    left: 0% !important;
}

#azul-hover:hover {
    background-color: #4500A4;
}

.color-servicios-text{
    color: #01233F;
}

#servicios-home{
    padding-bottom: 0px;
    padding-top: 0px;
}

.humano-triangulos{
    mix-blend-mode: soft-light;
}

.video{
    display: block;
    opacity: 0.5;
    width: 100%;
    height: 1011px;
    top: -177px;
    left: 0px;
    position: absolute;
    z-index:1;
    object-fit: cover;
    object-position: center center;
}

.texto-inicio{
    position: absolute;
    z-index: 2;
}